.data-table {
    border-collapse: collapse;
    width: 100%;
}
  
.data-table th, .data-table td {
    border: 1px solid #000; /* Add lines around cells */
    padding: 10px;
    text-align: center; /* Center the content within cells */
}
  
.data-table th {
    color: white;
    background-color: #333333; /* Add a background color to header cells */
}

.rows-colors{
    background: #c2c2c2;
    color: black;
}