aside .side-selected{
    font-weight: bold;
    text-decoration: underline #8f00ff 0.2rem;
    text-underline-offset: 0.6rem;

    cursor: default;
}

aside p:hover:not(.side-selected){
    text-decoration: underline 0.1rem;
    text-underline-offset: 0.6rem;
    cursor: pointer;
}

aside p{
    font-size: 1.25rem;
    line-height: 1.6;
}

aside{
    background-color: #2f2f2f;
}