header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.Header-Logo{
  width: 10%;
}

/* Media query for mobile devices (e.g., screens up to 768px wide) */
@media screen and (max-width: 768px) {
  .Header-Logo{
    width: 30%;
  }
}