/* Style for the login bar container */
.login-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  background-color: #191919;
  border-bottom: 1px solid #ccc;
}

.login-bar-text p {
  color: white;
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* Shared button style for the "Log in" button and other buttons in the popup */
.login-bar button,
.login-popup button {
  background-color: rgb(254, 153, 0);
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px rgba(254, 153, 0, 0.5);
}

.login-bar button:hover,
.login-popup button:hover {
  background-color: rgb(254, 153, 0);
}

.login-bar button:focus,
.login-popup button:focus {
  outline: none;
}

/* Style for the login popup overlay */
.login-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Style for the login popup */
.login-popup {
  /* background-color: #fff; */
  background-color: rgb(194, 194, 194);
  /* background-color: rgb(106, 105, 105); */
  /* background-color: rgb(51, 51, 51); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

/* Close button style for the login popup */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Style for the login form elements (input fields, etc.) */
.login-popup input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Apply a max-width to the popup content */
.login-popup .popup-content {
  max-width: 300px;
  margin: 0 auto;
  overflow-y: auto;
}

/* Style for the container that aligns "Not logged in" and "Log in" to the right */
.login-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Style for the error message */
.error-message {
  color: #ff0000;
  font-size: 1rem;
  margin-top: 1rem;
}

/* Apply styling for the "invalid-email" class on the email input */
.login-popup input.invalid-email {
  border: 0.15rem solid #ff0000;
}

/* Position the error message right below the input box */
.login-popup input.invalid-email + .error-message{
  margin-top: -0.5rem;
}

/* Style for the "Keep me logged in" container */
.login-input .keep-logged-in {
  display: flex;
  align-items: center;
  margin-right: 25px; /* Reduce the margin to align the text and checkbox */
}

/* Style for the "Keep me logged in" label */
.login-input .keep-logged-in-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 13rem; /* Adjust the margin to control spacing between the checkbox and label */
}

/* Style for the checkbox */
.login-input .keep-logged-in-checkbox {
  /*margin: 0 0.25rem; /* Adjust the margin to vertically center the checkbox with the text */
  position: relative;
  top: 2px; /*Correct small misalignment*/
}

/* Center the "Log in" button in the login bar */
.popup-login-button {
  display: block;
  margin: 0 auto;
  margin-top: 0.75rem;
}

.change-password-link,
.change-darkmode-link {
  color: white;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  display: inline-block; /* Change to inline-block */
  justify-content: flex-end; /* Aligns content to the right */
}

.change-password-link:hover,
.change-darkmode-link:hover {
  text-decoration: underline;
}

.change-darkmode-link{
  max-width: 5%;
}

.darkmode-icon{
  cursor: pointer;
  width: 100%;
}

.password-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 400px; /* Adjusted width */
  position: relative; /* Needed for absolute positioning of children */
}

.password-popup .close-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px; /* Adjusted to align within the popup */
  font-size: 20px;
}

.password-input input {
  width: calc(100% - 20px); /* Adjust width to include padding */
  padding: 10px;
  max-width: calc(100% - 20px);
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-popup .close {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  margin-left: 20px;
}

.password-popup h2 {
  clear: both;
}

.password-input label {
  display: block;
  margin-bottom: 5px;
}

.password-input input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



/* Media query for mobile devices (e.g., screens up to 768px wide) */
@media screen and (max-width: 768px) {
  .login-bar button,
  .login-popup button {
    width: 100%; /* Make the button full width on mobile */
    margin: 0.5rem 0; /* Add margin for spacing */
  }

  .login-popup {
    padding: 1rem; /* Adjust padding for mobile */
  }

  .close {
    top: 5px; /* Adjust top position for mobile */
    right: 5px; /* Adjust right position for mobile */
  }

  .login-input .keep-logged-in {
    margin: 1rem 0; /* Add margin for spacing */
  }

  .login-input .keep-logged-in-label {
    margin: 1rem 0; /* Add margin for spacing */
  }

  .popup-login-button {
    margin: 1rem 0; /* Add margin for spacing */
  }
}

