nav{
    /* background-color: #201f1f; */
    background-color: #191919; /* Darker background for navbar to match the new theme */
    color: white;
}

.navigation-menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    margin-right: 50px;

    font-size: 1.25rem;
}
.navigation-menu li {
  list-style-type: none;

  /* Increase clickable area */
  display: flex;
  position: relative;
  z-index: 1;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: -2em;
  margin-right: -2em;
}
.navigation-menu li p {
  text-decoration: none;
  display: block;
  width: 100%;
}

.selected {
  cursor: default;
  font-weight: bold;
  width: 130px; /* Set your desired fixed width here */
  text-align: center; /* Center the text horizontally */
  white-space: nowrap; /* Prevent text from wrapping */
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  position: relative; /* Add position: relative */
}

.selected:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 0.4rem;
  bottom: 0;
  left: 0;
  /* background-color: rgb(254, 153, 0); */
  background-color: #FE9900; /* Update to match the highlight color in the new design */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li:hover:not(.selected){
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  width: 130px;
  overflow: hidden; /* Hide any overflow */
  text-align: center; /* Center the text */
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%; /* Set it to 100% to cover the fixed width */
  transform: scaleX(0); /* Initial state: not visible */
  height: 0.4rem;
  bottom: 0;
  left: 0;
  /* background-color: white; */
  background-color: #FFFFFF; /* Update to white for the underline animation */
  transform-origin: bottom right; /* Adjust transform origin */
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hide hover animation when locked */
.locked-hover-underline-animation:hover:after{
  transform: scaleX(0);
}


/* Media query for mobile devices (e.g., screens up to 768px wide) */
@media screen and (max-width: 768px) {
  .navigation-menu ul {
    flex-direction: column; /* Stack items vertically on mobile */
    text-align: center; /* Center align text on mobile */
    margin-right: 0;
  }

  .navigation-menu li {
    padding: 1em; /* Increase spacing for touch-friendly interaction */
  }

  .selected:after,
  .hover-underline-animation:after{
    width: 90%;
  }

  .navigation-menu li {
    padding: 1em; /* Increase spacing for touch-friendly interaction */
    margin: 0; /* Remove margin */
  }
}