nav{
    background-color: #201f1f;
    color: white;
}

.navigation-menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    margin-right: 50px;

    font-size: 1.25rem;
}
.navigation-menu li {
  list-style-type: none;

  /* Increase clickable area */
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: -2em;
  margin-right: -2em;
}
.navigation-menu li p {
  text-decoration: none;
  display: block;
  width: 100%;
}

.selected{
  cursor: default;
  font-weight: bold;
}

.selected:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 0.4rem;
  bottom: 0;
  left: 0;
  background-color: rgb(254, 153, 0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li:hover:not(.selected){
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.4rem;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}