aside .side-selected{
    font-weight: bold;
    text-decoration: underline rgb(105, 105, 225) 0.2rem;
    text-underline-offset: 0.6rem;

    cursor: default;
}

aside p:hover:not(.side-selected){
    text-decoration: underline 0.1rem;
    text-underline-offset: 0.6rem;
    cursor: pointer;
}

aside p{
    font-size: 1.25rem;
}