/* ContentMyPlan.css */

/* Style the entire calendar container */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the calendar, header, day, and date labels with a consistent background color */
.rbc-calendar,
.rbc-row-bg,
.rbc-time-header-content {
  background-color: #c2c2c2; /* Consistent background color */
  color: black;
}

/* Style for the calendar with rounded borders and padding */
.rbc-calendar {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

/* Style the events (lesson blocks) */
.rbc-event {
  background-color: #52c41a; /* Default event block color */
  border: 1px solid #52c41a;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-weight: bold;
  overflow: visible; /* Allow the text to overflow the event block */
  white-space: normal; /* Allow text to wrap within the event block */
}

/* Style the events when hovered */
.rbc-event:hover {
  background-color: #e91e63; /* Pink on hover */
  border-color: #e91e63;
}

/* Style the timeslot cells */
.rbc-timeslot-group {
  border-bottom: 1px solid black; /* Border color for timeslot cells */
  min-width: 78px; /* Minimum width for "rbc-label rbc-time-header-gutter" */
}

/* Style the current time indicator */
.rbc-current-time-indicator {
  background-color: #f44336; /* Bright red color for the current time indicator */
}

/* Style the event tooltip (when an event is clicked) */
.rbc-tooltip {
  background-color: #1890ff; /* Background color for tooltip */
  color: white;
  border: 1px solid #1890ff;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

/* Set border color for timeslot group and header cell */
.rbc-timeslot-group,
.rbc-time-header-cell {
  border-color: black; /* Border color for timeslot group and header cell */
}

.rbc-toolbar-label {
  display: none;
}

.rbc-btn-group button{
  color: white;
  background-color: #7a7978;
}

.rbc-events-container{
  width: 106px;
}

.rbc-event-label{
  display: none;
}