/* App.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the .App */
  align-items: center; /* Horizontally center the .App */
  /* background-color: rgb(220, 220, 220); */
  background-color: #121212; /* Dark background color */
}

.App {
  aspect-ratio: 16 / 9; /* Set a fixed aspect ratio (e.g., 16:9) */
  width: 1125px; /* Set the new width at 75% of the original width (1500px * 0.75) */
  height: 825px; /* Set the new height at 75% of the original height (1100px * 0.75) */
  max-width: 100%; /* Prevent the .App from scaling with window size changes */
  overflow-x: visible;
  overflow-y: visible;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .App {
    width: 100%; /* Adjust the width for mobile */
    height: auto; /* Allow height to adapt to content for mobile */
  }
}
